.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}
.image {
  width: 370px;
  margin-top: 50px;
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 80%;
    
  }
}
